################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClientWCFHostedInISS/v15
/.vs/WCFHostInISS/v15/Server/sqlite3
